.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
}


.btn-xs {
	width: 24px;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select, form textarea {
	padding:5px;
}

#tablaSubTarifas_length, #tablaSubTarifas_filter {
	display:none;
}

.control-label {
	font-size:11px;
	padding:5px;
}