.sinPadding {
  padding: 0;
}

.paddingCelda {
  padding: 3px 5px !important;
  font-size: 12px !important;
}

.table-condensed > tbody > tr > td {
  padding: 3px 5px;
}

.control-label {
  padding: 0;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
