.content {
  padding:0;
}

#pantalla{
  min-height: 600px;
}
.form-signin {
  max-width: 350px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #D9EDF7;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0,0,110,.05);
}
  
#menuPos {
  padding-top:0px;
  background: #000;
}


.borde, .bordelinea, .barra, .puerta {
  border: 1px solid #000;

}

.bordelinea, .barra  {
  height: 40px;
  position: absolute;
  bottom: 20px;
}

.borde {
  height: 460px;
  width: 100%;
}

.bordelinea {
  width: 50%;
  right: 40px;
}

.barra {
  width: 20%;
  left: 40px;
}

.puerta {
  width: 10px;
  height: 80px;
  left: 30px;
  position: absolute;
  bottom: 70px;
}

td span .alert {
  margin-bottom: 0;
}

.izquierda {
  text-align: left;
}

.derecha {
  text-align: right;
}

.centro {
  text-align: center;
}

.tituloCliente{
  width: 96%;
  border-radius: 1px;
  margin-top: 3px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  width: 100% ;
  font-size: 16px;
  height: auto;
  margin-bottom: 5px;
  padding: 7px 9px;
}

.margen {
  height: 250px;
  position: absolute;
  top: 30%;
  left: 40%;
}

.secciones {
  background-color:#D0E5E6;
  border-width: 1px;
  height: 120px;
  padding: 0px;
}

.container-secciones{
  width:25%;
  height: 50%;
  border-width: 1px;
}

.text-seccion{
  font-size: 14px;
  height: 60%;
}

.btnPos{
  font-weight: bold;
  text-align: center;
  white-space:unset;
  padding:0;
  margin:.5px;
  font-family:'ubuntu';
  height:80px;
  font-size:13px;
  color:black;
  line-height: 15px;
}

.tablas{
  padding:5px 0px 0px 10px;
  overflow: auto; 
  display:none
}

.btnProd {
  width:33%;
}

.prende {
  display:none;
}

.btnSecc{
  width:32.2%;
  font-size:13px;
}

.btnInfoCom{
  width: 19.3%;
  height: 80px
}

.btnFactura {
  height:30px;
  width:30px;
  line-height: 1px;
  font-size:12px;
}

.btnFactura i {
  margin-left: -4px;
  font-size: 14px;
}
.btnInfoCom h3{
  font-weight: bold;
  font-size:15px;
  margin: 0;
}

.btnRecu {
  height: 50px;
  font-weight: 600;
  font-size:14px;
}

.btn-toolbar {
  margin: 0px;
}

.btn-group, .btn-group-vertical {
  display: contents;
}
.btnInfoCom h4{
  font-weight: bold;
  font-size:12px;
  margin: 0;
  margin-top: 2px;
}

#nombreUsuario {
  display:flex;
}

#nombreUsuario p{
  margin: 0;
}

#nombreUsuario span{
  margin:8px;
}

.marginrl-5{
  margin-left: 5px;
  margin-right: 5px;
}

.paddingrl-5{
  padding-left: 5px;
  padding-right: 5px;
}

.form-control{
  height: 30px;
}

.form-group{
  margin-bottom:5px;
}

.main-sidebar, .left-side {
  min-height: 86%;
}

.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group input[type="password"], 
.form-group select, 
.form-group textarea {
  padding:5px;
}

.ctrlCta {
  padding:1px 0px;
  font-size:12px;
}

.btn-group {
  padding:1px;
  font-size: 12px;
}

.btn-group > btn{
  font-size:12px;
  padding: 5px;
}

.btnGroup{
  font-size:12px;
  padding:5px;
  width: 50%;
}
.avisoVta {
  font-size:28px;
  text-align:center;
  border-radius:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0px;
}

.avisoSaldo{
  color:#DA3030;
  background-color:#F4C23A;
}

.avisCambio{
  color:#F00E0E;
  background-color:#FAF705;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th {
  font-size:12px;
  border: 1px solid #d7d5d5;
}

.table > thead > tr > td, 
.table > thead > tr > th {
  font-size:15px;

}
.table > thead > tr > th {
  font-weight: 700;
  text-align: center;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #eeebeb;
}

.comandaDiv >tbody>tr>td {
 padding:3px;
}

.estadoComanda{
  font-size:17px;
  font-weight: 700;  
}

.tituloEscritorio {
  padding: 5px;
  margin: 10px 0;
  font-family: ubuntu;
  font-weight: 700;
  word-spacing: 7px;
}

.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td {
  padding: 5px !important;
  
}

.table-bordered > tbody > tr > th, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > th, 
.table-bordered > tfoot > tr > td {
  padding: 3px 5px !important;
}

.centrarBotones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fecha {
  font-weight: 600;
  padding:11px 15px;
  color:#FFF;
  font-size:16px
}

.apaga {
  display: none;
}

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: var(--border-radius);
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem var(--darken-2),
    inset 0 3px 4px 0 var(--darken-3),
    0 0 1px var(--darken-2);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}

.modal-info{
  background-color: #44916d4f !important;
}

.modal-success {
  
  background-color:#06a85ed9 !important;
}

.btnTitle {
  float:right;
  margin-top:10px;
}

.btn-menu {
  position: fixed;
  padding: 4px;
  height: 30px;
  width: 30px;
  font-size:15px;
  cursor: pointer;
  z-index:20;
}

.content-wrapper {
  margin-bottom: 0px;
}

form textarea {
  min-height: 5em;
}

.btnPropina {
  background-color:#FAE00A;
  border-color:#F5DF14;
}

.btnPropina:hover, 
.btnPropina:active, 
.btnPropina.hover {
    background-color: #F5C50E;

}

.logoAmbiente{
  width: 90px;
  margin-top:5px;
  float: right;
}

@media (max-width:1200px){
  .btnPos {
    width: 31%;
    font-size:12px;
  }

  .btnPos h3{
    font-size:17px;
  }

  .container h3 {
    font-size:20px;
  }
}

@media (max-width:1024px){
  .estadoComanda{
    font-size:15px;
    font-weight: 600;  
  }
  .comanda tr td {
    /* font-weight: bold; */
    font-weight:400;
    font-size:13px;
  }

  .menuComanda{
    padding:0px;
  }

  .mr-2 {
    width: 95%;
  }
}
#valorReceta{
  font-size:18px;
  font-weight: bold;
  text-align:left;
}

#productoList{
  padding:0px;text-align:center;overflow: auto;display:block;
}

#seccionList{
  padding:0;display:block;text-align:center;
}

#ventasList{
  padding:0px;
}

#seccionList {
  min-height: 120px; height: 417px;
}

#productosComanda, #productosDivide {
  background-color:#FCF7AB;
  margin-top: 0;
  overflow: auto;
  height: 428px;
}

#comanda tbody tr td {
  padding:3px 3px 0px 3px;  
}

#tituloNumero {
  padding:2px;
  text-align: center;
  font-weight: bold;
  margin: 0px 15px 0 0;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.menuComanda {
  padding: 0 5px 0 0;margin-top:0px;
}

.estadoComanda tbody tr td, .estadoComandaDiv tbody tr td{
  font-size:13px;padding:5px
}

.base {
  position:absolute;top:25%;left:25%
}

@media (max-width:767px){

  .base {
    left: 5%;
  }

  #productosComanda {
    margin-top:10px;
  }

  .table > thead > tr > td, 
  .table > thead > tr > th {
    font-size: 12px;
}

  #tituloNumero {
    margin-top:10px;
  }

  .info td {
    font-size: 12px;
  }

  /* .comanda thead {
    display: block;

  }
 */

  .mr-2 {
    width: 100%;
  } 

  .btn {
    width: 33%;
  }
  #Escritorio{
    margin-left:50px;
  }
  .btnPos {
    width: 32%;
  }

  .logoAmbiente{
    width: 60px;
    margin-top:5px;
    float: right;
  }

  h3 {
    font-size:20px;
  }    
}

@media (max-width: 420px){
  .fecha{
    font-weight: 600;
    padding:11px 15px;
    color:#FFF;
    font-size:10px
  }
}



