.sinPadding {
  padding: 0;
}

.paddingCelda {
  padding: 3px 5px !important;
  font-size: 12px !important;
}

#movimientosProducto .table > tbody > tr > td {
  padding: 3px 5px;
}

.control-label {
  padding: 0;
}

#example1 {
  width: 100% !important;
}

#productosMov {
  max-height: 430px;
  overflow: auto;
}

.centro {
  text-align: center;
}

.derecha {
  text-align: right;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.pd10 {
  padding: 10px;
}

/* .content-wrapper {
  margin-left: 50px;
} */

.t-right {
  text-align: right;
}
