.btn {
  display:inline-flex;
}

.material-symbols-outlined {
  font-size: 18px;
}

.btn-xs {
  padding: 3px;
  line-height: 0.7;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form select:focus, form textarea:focus {
  background: rgb(255, 255, 255);
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.linkItem{
  text-align: left !important;
  margin: 10px 5px;
  border: 0;
}

.tituloPagina{
  color:#120808d3;
  display:flex;
}

.tituloPagina span, .txtBl span {
  font-size: 3rem;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
  padding: 4px;
  line-height: 1.5;
  font-size: 14px;
}

.txtBl {
  color:black;
  margin:0px;
}

.modal-header h4 {
  font-size: 2em;
}

.modal-header h4 span {
  font-size: 1em;
}


.sweet-alert p {
  font-size: 2rem;
  font-weight: 400;
}

.icon span {
  font-size: 90px;
} 

.small-box h3 {
  font-size: 50px;
}

.small-box:hover {
  color: #afa9a9;
}

.small-box p {
  font-size: 18px;
}

.badge {
  padding: 5px 10px;
  /* font-size: 16px; */
}


.btn-xs {
  font-size: 15px;
}
.btn-xs i{
  margin:3px;
}

h1 {
  font-size:34px;
  font-weight: 700;
}

.badge .btn {
  font-size:16px;
}

