
.btn-xs {
  padding: 3px;
  line-height: 0.7;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form select:focus, form textarea:focus {
  background: rgb(255, 255, 255);
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.linkItem{
  text-align: left !important;
  margin: 10px 5px;
  border: 0;
}

.tituloPagina{
  color:#120808d3;
  display:flex;
}

.tituloPagina span, .txtBl span {
  font-size: 3rem;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
  padding: 4px;
  line-height: 1.5;
  font-size: 14px;
}

.txtBl {
  color:black;
  margin:0px;
}

.modal-header h4 {
  font-size: 2em;
}

.modal-header h4 span {
  font-size: 1em;
}

.sweet-alert h2 {
  font-size: 25px;
}
.sweet-alert p {
  font-size: 1.6rem;
  margin: 5px 0;
  line-height: 25px;
}

#mensajeAnula tc {
  margin-top: 10px;
}

.icon span {
  font-size: 90px;
} 

.box {
  margin-bottom: 10px;
}

.small-box:hover {
  color: #afa9a9;
}

.small-box p {
  font-size: 18px;
}

.pd0 {
  padding:0px;
}

.pd5 {
  padding:5px;
}
.box-header {
  padding: 5px;
}

.mr0 {
  margin: 0;
}

.mt10 {
margin-top: 10px;
}

.prdTable {
  overflow-y: auto; border: 1px solid rgb(51, 122, 183); height: 311px;
} 

.form-horizontal {
  padding: 5px 10px;
}

.badge {
  padding: 5px 10px;
}

.label-warning {
  background-color: #f0ad4e;
}

.btn-xs {
  font-size: 15px;
}
.btn-xs i{
  margin:3px;
}

h1 {
  font-size:34px;
  font-weight: 700;
}

.badge .btn {
  font-size:16px;
}

.items_table thead {
  font-size: 12px;
}

.search_item {
  text-transform: uppercase;
  font-size: 10px;
  color: #000000;
  text-align: center;
  text-overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

section, article {
  margin-bottom: 2.6em;
}