Options +FollowSymLinks
Options All -Indexes

RewriteEngine on 

#Rutas Usuarios
RewriteRule ^home inicio.php?section=home [QSA] 
RewriteRule facturas inicio.php?section=facturas [QSA] 
RewriteRule proveedores inicio.php?section=proveedores [QSA] 
RewriteRule productos inicio.php?section=productos [QSA] 
RewriteRule docSoporte inicio.php?section=docSoporte [QSA] 
RewriteRule nuevoDocumento inicio.php?section=nuevoDocumento [QSA] 
RewriteRule formasPago inicio.php?section=formasPago [QSA] 
RewriteRule impuestos inicio.php?section=impuestos [QSA] 

