Options +FollowSymLinks
Options All -Indexes

RewriteEngine on 

#Rutas Usuarios
RewriteRule ^home index.php?section=home [QSA] 
RewriteRule facturas index.php?section=facturas [QSA] 
RewriteRule proveedores index.php?section=proveedores [QSA] 

