Options +FollowSymLinks
Options All -Indexes

RewriteEngine on 

#Rutas Usuarios
RewriteRule ^home index.php?section=home [QSA] 
RewriteRule facturas index.php?section=facturas [QSA] 
RewriteRule proveedores index.php?section=proveedores [QSA] 
RewriteRule productos index.php?section=productos [QSA] 
RewriteRule docSoporte index.php?section=docSoporte [QSA] 
RewriteRule nuevoDocumento index.php?section=nuevoDocumento [QSA] 

