# log PHP errors to a file
php_flag log_errors on
php_value error_reporting 32767
php_value error_log "error_log.txt"


Options +FollowSymLinks
Options All -Indexes

RewriteEngine on 

#Rutas Usuarios
RewriteRule ^dataCompany index.php?section=dataCompany [QSA] 
RewriteRule ^home index.php?section=home [QSA] 
RewriteRule ^usuarios index.php?section=usuarios [QSA] 
RewriteRule ^impuestos index.php?section=impuestos [QSA] 
RewriteRule ^retenciones index.php?section=retenciones [QSA] 
RewriteRule ^formasdePago index.php?section=formasdePago [QSA] 
RewriteRule ^deptos index.php?section=deptos [QSA] 
RewriteRule ^centrosdeCosto index.php?section=centrosdeCosto [QSA] 
RewriteRule ^bodegas index.php?section=bodegas [QSA] 
RewriteRule ^ciudades index.php?section=ciudades [QSA] 
RewriteRule ^unidades index.php?section=unidades [QSA] 
RewriteRule ^familias index.php?section=familias [QSA] 
RewriteRule ^gruposInventario index.php?section=gruposInventario [QSA] 
RewriteRule ^subgrupos index.php?section=subgrupos [QSA] 
RewriteRule ^conversiones index.php?section=conversiones [QSA] 
RewriteRule ^tipoMovimientos index.php?section=tipoMovimientos [QSA] 
RewriteRule ^agrupaciones index.php?section=agrupaciones [QSA] 
RewriteRule ^codigosVentas index.php?section=codigosVentas [QSA] 
RewriteRule ^interfacePMS index.php?section=interfacePMS [QSA] 
RewriteRule ^sectoresHabitacion index.php?section=sectoresHabitacion [QSA] 
RewriteRule ^tipoHabitaciones index.php?section=tipoHabitaciones [QSA] 
RewriteRule ^habitaciones index.php?section=habitaciones [QSA] 
RewriteRule ^paquetes index.php?section=paquetes [QSA] 
RewriteRule ^gruposTarifa index.php?section=gruposTarifa [QSA] 
RewriteRule ^ambientes index.php?section=ambientes [QSA] 
RewriteRule ^mesas index.php?section=mesas [QSA] 
RewriteRule ^tiposdePlatos index.php?section=tiposdePlatos [QSA] 
RewriteRule ^formasPagoPos index.php?section=formasPagoPos [QSA] 
RewriteRule ^equipos index.php?section=equipos [QSA] 
RewriteRule ^descuentos index.php?section=descuentos [QSA] 
RewriteRule ^periodos index.php?section=periodos [QSA] 
RewriteRule ^infoHotel index.php?section=infoHotel [QSA] 
RewriteRule ^consecutivos index.php?section=consecutivos [QSA] 
RewriteRule ^resolucionHotel index.php?section=resolucionHotel [QSA] 
  