Options +FollowSymLinks
Options All -Indexes

RewriteEngine on 

#Rutas Usuarios
RewriteRule ^home index.php?section=home [QSA] 
RewriteRule productos index.php?section=productos [QSA] 
RewriteRule ^proveedores index.php?section=proveedores [QSA] 
RewriteRule ^entradas index.php?section=entradas [QSA] 
RewriteRule ^salidas index.php?section=salidas [QSA] 
RewriteRule ^traslados index.php?section=traslados [QSA] 
RewriteRule ^ajustes index.php?section=ajustes [QSA] 
RewriteRule ^movimientoEntradas index.php?section=movimientoEntradas [QSA] 
RewriteRule ^movimientoSalidas index.php?section=movimientoSalidas [QSA] 
RewriteRule ^recetasSalidas index.php?section=recetasSalidas [QSA] 
RewriteRule ^movimientoTraslado index.php?section=movimientoTraslado [QSA] 
RewriteRule ^movimientoAjuste index.php?section=movimientoAjuste [QSA] 
RewriteRule ^requisiciones index.php?section=requisiciones [QSA] 
RewriteRule ^recetasRequisicion index.php?section=recetasRequisicion [QSA] 
RewriteRule ^recetasPedidos index.php?section=recetasPedidos [QSA] 
RewriteRule ^pedidos index.php?section=pedidos [QSA] 
RewriteRule ^productoRequisicion index.php?section=productoRequisicion [QSA] 
RewriteRule ^productoPedido index.php?section=productoPedido [QSA] 
RewriteRule ^conteos index.php?section=conteos [QSA] 
RewriteRule ^periodosActivos index.php?section=periodosActivos [QSA] 
RewriteRule ^cierreMes index.php?section=cierreMes [QSA] 
RewriteRule ^kardex index.php?section=kardex [QSA] 

RewriteRule ^deptos index.php?section=deptos [QSA] 
RewriteRule ^centrosdeCosto index.php?section=centrosdeCosto [QSA] 
RewriteRule ^bodegas index.php?section=bodegas [QSA] 
RewriteRule ^unidades index.php?section=unidades [QSA] 
RewriteRule ^familias index.php?section=familias [QSA] 
RewriteRule ^grupos index.php?section=grupos [QSA] 
RewriteRule ^subgrupos index.php?section=subgrupos [QSA] 
#RewriteRule ^new/([a-zA-Z,0-9]+)$ index.php?section=new&url=$1 [QSA] 
#RewriteRule ^event/([a-zA-Z,0-9]+)$ index.php?section=event&url=$1 [QSA] 
