Options +FollowSymLinks
Options All -Indexes

RewriteEngine on  

#Rutas Usuarios
RewriteRule ^index index.php?section=index [QSA] 
RewriteRule ^home index.php?section=home [QSA] 
RewriteRule ^index index.php?section=home [QSA] 
RewriteRule ^huespedesPerfil index.php?section=huespedesPerfil [QSA] 
RewriteRule ^companias index.php?section=companias [QSA] 
RewriteRule ^agencias index.php?section=agencias [QSA] 
RewriteRule ^reservasActivas index.php?section=reservasActivas [QSA] 
RewriteRule ^forecast index.php?section=forecast [QSA] 
RewriteRule ^encasa index.php?section=encasa [QSA] 
RewriteRule ^grupos index.php?section=grupos [QSA] 
RewriteRule ^llegadaSinReserva index.php?section=llegadaSinReserva [QSA] 
RewriteRule ^llegadasDelDia index.php?section=llegadasDelDia [QSA] 
RewriteRule ^salidasDelDia index.php?section=salidasDelDia [QSA] 
RewriteRule ^ventasDirectas index.php?section=ventasDirectas [QSA] 
RewriteRule ^salidasRealizadas index.php?section=salidasRealizadas [QSA] 
RewriteRule ^facturacionEstadia index.php?section=facturacionEstadia [QSA] 
RewriteRule ^facturacionHuesped index.php?section=facturacionHuesped [QSA] 
RewriteRule ^ingresoConsumos index.php?section=ingresoConsumos [QSA] 
RewriteRule ^cargosDelDia index.php?section=cargosDelDia [QSA] 
RewriteRule ^facturasDelDia index.php?section=facturasDelDia [QSA] 
RewriteRule ^recibosCajaDelDia index.php?section=recibosCajaDelDia [QSA] 
RewriteRule ^facturasDiaNew index.php?section=facturasDiaNew [QSA] 
RewriteRule ^exportaFacturas index.php?section=exportaFacturas [QSA] 
RewriteRule ^cargosAnuladosDia index.php?section=cargosAnuladosDia [QSA] 
RewriteRule ^pagosDelDia index.php?section=pagosDelDia [QSA] 
RewriteRule ^pagosAnuladosDelDia index.php?section=pagosAnuladosDelDia [QSA] 
RewriteRule ^depositosRecibidos index.php?section=depositosRecibidos [QSA] 
RewriteRule ^cierreCajero index.php?section=cierreCajero [QSA] 
RewriteRule ^cuentasCongeladas index.php?section=cuentasCongeladas [QSA] 
RewriteRule ^facturacionCongelada index.php?section=facturacionCongelada [QSA] 
RewriteRule ^historicoFacturas index.php?section=historicoFacturas [QSA] 
RewriteRule ^cargarHabitaciones index.php?section=cargarHabitaciones [QSA] 
RewriteRule ^cierreDiario index.php?section=cierreDiario [QSA] 
RewriteRule ^historicoAuditoria index.php?section=historicoAuditoria [QSA] 
RewriteRule ^historicoReservas index.php?section=historicoReservas [QSA] 
RewriteRule ^historicoCajeros index.php?section=historicoCajeros [QSA] 
RewriteRule ^informeFacturasdelDia index.php?section=informeFacturasdelDia [QSA] 
RewriteRule ^informeFacturasRango index.php?section=informeFacturasRango [QSA] 
RewriteRule ^informeFacturasImpuesto index.php?section=informeFacturasImpuesto [QSA] 
RewriteRule ^reservasEsperadasHoy index.php?section=reservasEsperadasHoy [QSA] 
RewriteRule ^reservasCreadasHoy index.php?section=reservasCreadasHoy [QSA] 
RewriteRule ^reservasPorApellido index.php?section=reservasPorApellido [QSA] 
RewriteRule ^reservasPorHabitacion index.php?section=reservasPorHabitacion [QSA] 
RewriteRule ^reservasPorFecha index.php?section=reservasPorFecha [QSA] 
RewriteRule ^reservasCanceladas index.php?section=reservasCanceladas [QSA] 
RewriteRule ^reservasDepositos index.php?section=reservasDepositos [QSA] 
RewriteRule ^reservasDiaDepositos index.php?section=reservasDiaDepositos [QSA] 
RewriteRule ^huespedesPorHabitacion index.php?section=huespedesPorHabitacion [QSA]  
RewriteRule ^huespedesPorApellido index.php?section=huespedesPorApellido [QSA] 
RewriteRule ^llegadasdelDia index.php?section=llegadasdelDia [QSA] 
RewriteRule ^llegadasSinReserva index.php?section=llegadasSinReserva [QSA] 
RewriteRule ^huespedesConAcompanantes index.php?section=huespedesConAcompanantes [QSA] 
RewriteRule ^salidasdelDia index.php?section=salidasdelDia [QSA] 
RewriteRule ^salidasPendientes index.php?section=salidasPendientes [QSA] 
RewriteRule ^balanceHuesped index.php?section=balanceHuesped [QSA] 
RewriteRule ^cargosdelDiaCronologico index.php?section=cargosdelDiaCronologico [QSA] 
RewriteRule ^cargosdelDiaporConcepto index.php?section=cargosdelDiaporConcepto [QSA] 
RewriteRule ^cargosdelDiaporCajero index.php?section=cargosdelDiaporCajero [QSA] 
RewriteRule ^cargosdelDiaporHabitacion index.php?section=cargosdelDiaporHabitacion [QSA] 
RewriteRule ^cargosAnuladosdelDia index.php?section=cargosAnuladosdelDia [QSA] 
RewriteRule ^pagosdelDiaCronologico index.php?section=pagosdelDiaCronologico [QSA] 
RewriteRule ^pagosdelDiaporConcepto index.php?section=pagosdelDiaporConcepto [QSA] 
RewriteRule ^pagosdelDiaporCajero index.php?section=pagosdelDiaporCajero [QSA] 
RewriteRule ^pagosdelDiaporHabitacion index.php?section=pagosdelDiaporHabitacion [QSA] 
RewriteRule ^pagosAnuladosdelDia index.php?section=pagosAnuladosdelDia [QSA] 
RewriteRule ^balanceDiario index.php?section=balanceDiario [QSA] 
RewriteRule ^balanceCajeros index.php?section=balanceCajeros [QSA] 
RewriteRule ^balanceGeneral index.php?section=balanceGeneral [QSA] 
RewriteRule ^balancecuentasCongeladas index.php?section=balancecuentasCongeladas [QSA] 
RewriteRule ^estadoCartera index.php?section=estadoCartera [QSA] 
RewriteRule ^diarioAcumulado index.php?section=diarioAcumulado [QSA] 
RewriteRule ^estadoHotel index.php?section=estadoHotel [QSA] 
RewriteRule ^estadoHabitaciones index.php?section=estadoHabitaciones [QSA] 
RewriteRule ^objetosOlvidados index.php?section=objetosOlvidados [QSA] 
RewriteRule ^mantenimiento index.php?section=mantenimiento [QSA] 
RewriteRule ^procesaReservaFecha index.php?section=procesaReservaFecha [QSA] 
RewriteRule ^preregistros index.php?section=preregistros [QSA] 
RewriteRule ^listadoHuespedes index.php?section=listadoHuespedes [QSA] 
RewriteRule ^listadoCumpleanios index.php?section=listadoCumpleanios [QSA] 
RewriteRule ^listadoCompanias index.php?section=listadoCompanias [QSA] 
